@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: bisque;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  font-family: 'Montserrat',sans-serif;
  text-align: center;
}

.header {
  position: sticky;
  left: 0px;
  top: 0px;
  right: 0px;
  text-align: center;
  width:100%;
  font-weight: bold;
  color: #FFEEDC;
  background:#001B3B;
  padding: 2rem;
}

.input {
  padding: 1em;
  min-width: 70%;
  background-color: rgb(255, 238, 218);
  border-radius: 25px;
  font-family: inherit;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

.input:focus {
  outline: none;
}

.emoji-list {
  margin: 1rem;
  margin-bottom: 5rem;
}

.emoji{
  font-size: 2rem;
  padding: 0.5rem;
  cursor: pointer;
}

.footer {
  position:fixed;
  left:0px;
  bottom:0px;
  height:5%;
  text-align: center;
  width: 100%;
  font-weight: bold;
  color: #FFEEDC;
  background:#001B3B;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
}
